
{% extends 'base.html' %}
{%load static %}

{%block content%}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{%static 'images/banners/cover.jpg'%}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store_page' %}" class="btn btn-outline-primary float-right">Voir plus</a>
	<h3 class="section-title">Produits du Moment</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for e in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{e.get_url}}" class="img-wrap"> <img src="{{e.image.url}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{e.get_url}}" class="title"> {{e.product_name}} </a>
				<div class="price mt-1">{{e.price}} XAF</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{%endfor%}
 
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>
{%endblock%}